$color_1: #e0e8eb;
$color_2: #4169d8;
$color_3: #18223d;
$font-family_1: cursive;

body {
	text-align: center;
	background-color: $color_3;
	font-family: $font-family_1;
	color: $color_1;
}
h1 {
	font-size: 1.5rem;
	text-shadow: 2px 0 $color_2;
}
.a {
	background-image: url("../images/tom22.png");
}
.s {
	background-image: url("../images/tom33.png");
}
.d {
	background-image: url("../images/tom44.png");
}
.f {
	background-image: url("../images/tom11.png");
}
.j {
	background-image: url("../images/snare22.png");
}
.k {
	background-image: url("../images/crash22.png");
}
.l {
	background-image: url("../images/kick22.png");
}
.flex-container{
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
}
.pressed {
	opacity: 0.5;
}
.drum {
	flex: 40%;
	margin: 10px;
	border: 7px solid $color_2;
	border-radius: 10px;
	text-align: center;
	font-size: 5rem;
	font-family: $font-family_1;
	font-weight: 300;
	line-height: 1.5;
	background-color: $color_1;
	color: $color_2;
	text-shadow: 5px 0 $color_3;
}

@media only screen and (min-width: 400px) {
	h1 {
		font-size: 2rem;
	}
}
@media only screen and (min-width: 768px) {
	h1 {
		font-size: 3rem;
	}
}
@media only screen and (min-width: 992px) {
	.drum {
		flex: 30%;
	}
	h1 {
		font-size: 4rem;
	}
}
